body{
    background-color: #faf9f6;
}
 
#main-section{
    height: 400px;
    width: 1200px;
    border: 1px solid rgb(245, 229, 229);
    padding: 8px;
    margin: 40px auto;
}
span{
    color: rgb(104, 12, 185);
}

#main-section img{
    width: 80px;
}
#sub-section{
    display: flex;
    justify-content: space-around;
}
#sub-section  img{
    height: 130px;
    width: 150px;
}

.content{
    height: 200px;
    width: 400px;
}
#foot{
    text-align: right;
    margin-top: 50px;
    padding-right: 10px;
    color: rgb(104, 12, 185);   
}